html, body{
    margin: 0;
    padding: 0;
}

div.menuMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

div.menuSub{
    display: flex;
    flex-direction: column;
    width: 33%;
    align-self: center;
}

button.mainMenu{
    height: 60px;
    font-size: xx-large;
    margin: 10px 0;
}